__pycache__/
env/
log/*
mydentist/media/dentists/cabinet_photos/*
mydentist/media/dentists/photos/*
mydentist/media/patients/process_photos/*
mydentist/media/patients/photos/*
mydentist/media/animations/*

.env
ngrok.exe

!log/.gitkeep
!mydentist/media/dentists/cabinet_photos/.gitkeep
!mydentist/media/dentists/photos/.gitkeep
!mydentist/media/patients/process_photos/.gitkeep
!mydentist/media/patients/photos/.gitkeep
!mydentist/media/animations/.gitkeep