{% extends 'dentx/app.html' %}
{% load static i18n mydentist_tags %}

{% block title %}
	{% trans "Bemorlar" %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="header mt-md-5">
            <div class="header-body">
                <br>
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header-title">{% trans "Bemorlar" %}</h1>
                    </div>
                    <div class="col-auto">
                        <button class="btn my_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">{% trans "Yangi bemor" %}</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Yangi bemor" %}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-group" method="POST">
                                        {% csrf_token %}
                                        <input type="radio" id="auto-reg" name="regtype" value="auto" checked>
                                        <label for="auto-reg">{% trans "Kod kiritish" %}</label>
                                        <div class="pats">
                                            <div class="left col-12 col-lg-3 d-flex flex-column align-items-start">
                                                <label class="mb-1 left" for="id_phone_number">{{ patient_codeform.key.label }}</label>
                                                {{ patient_codeform.key }}
                                            </div>
                                        </div>
                                        <input type="radio" id="man-reg" name="regtype" value="man">
                                        <label for="auto-reg">{% trans "Ro'yhatdan o'tkazish" %}</label>
                                        <div class="pats">
                                            <div class="mb-1 d-flex justify-content-between">
                                                <label for="id_name">{{ patientform.name.label }}</label>
                                            </div>
                                            <div class="input-group w-100">
                                                {{ patientform.name }}
                                            </div>
                                            <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-2">
                                                <div class="center col-12 d-flex flex-column align-items-start">
                                                    <label for="birthday_holder" class="form-label">{% trans "Tug'ilgan sana" %}</label>
                                                    <div id="birthday_holder">
                                                        <div class="birth_item">
                                                            <i id="birth_year_1" class="fas fa-sort-up"></i>
                                                            {{ patientform.birth_year }}
                                                            <i id="birth_year_2" class="fas fa-sort-down"></i>
                                                        </div>
                                                        <div class="birth_item">
                                                            <i id="birth_month_1" class="fas fa-sort-up"></i>
                                                            {{ patientform.birth_month }}
                                                            <i id="birth_month_2" class="fas fa-sort-down"></i>
                                                        </div>
                                                        <div class="birth_item">
                                                            <i id="birth_day_1" class="fas fa-sort-up"></i>
                                                            {{ patientform.birth_day }}
                                                            <i id="birth_day_2" class="fas fa-sort-down"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="left col-12 col-lg-3 d-flex flex-column align-items-start mt-2">
                                                    <label class="mb-1 left" for="id_phone_number">{{ patientform.phone_number.label }}</label>
                                                    <div class="input-group wid">
                                                        <span class="input-group-text" id="phone-addon" style="border-top-left-radius: 25px !important;border-bottom-left-radius: 25px !important;border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important;">+998</span>
                                                        {{ patientform.phone_number }}
                                                    </div>
                                                </div>
                                                <div class="end col-12 col-lg-3 mt-2">
                                                    <label class="mb-1 left" for="id_gender">{{ patientform.gender.label }}</label>
                                                    <div>
                                                    {% for el in patientform.gender %}
                                                        {{ el }}
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="end col-12 col-lg-3 d-flex flex-column align-items-start mt-2">
                                                    <label class="mb-1 left" for="id_address">{{ patientform.address.label }}</label>
                                                    <div class="input-group wid">
                                                        {{ patientform.address }}
                                                    </div>
                                                </div>
                                                <div class="end col-12 col-lg-3 d-flex flex-column align-items-start my-2">
                                                    <label class="mb-1 left" for="id_language">{{ languageform.language.label }}</label>
                                                    {{ languageform.language }}
                                                </div>
                                            </div>
                                            <h5 class="my-3">{% trans "Kasalliklar haqida" %}</h5>
                                            <div class="row">
                                                {% for field in patient_illnessform %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                    {% if field.name != "allergy_detail" %}
                                                        <div class="col-12 col-lg-3 mb-2">
                                                            <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                            {{ field }}
                                                            {% if field.name == "allergy" %}
                                                                {{ patient_illnessform.allergy_detail }}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <h5 class="my-3">{% trans "Boshqa kasalliklar" %}</h5>
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <label class="form-check-label" for="other_illness">{% trans "Ko'rsatish" %}</label>
                                                    <input class="form-check-input" type="checkbox" id="other_illness">
                                                </div>
                                            </div>
                                            <div id="other_illness_holder" class="d-none">
                                                <div class="row">
                                                    {% for field in patient_otherillnessform %}
                                                        {% for error in field.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ error }}
                                                            </div>
                                                        {% endfor %}
                                                        {% if field.name != "medications_detail" and field.name != "pregnancy_detail" %}
                                                            <div class="col-12 col-lg-3 mb-2">
                                                                <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                                {{ field }}
                                                                {% if field.name == "medications" %}
                                                                    {{ patient_otherillnessform.medications_detail }}
                                                                {% elif field.name == "pregnancy" %}
                                                                    {{ patient_otherillnessform.pregnancy_detail }}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary me-md-2 mt-2" type="submit">{% trans "Tasdiqlash" %}</button>
                                            <button class="btn btn-secondary mt-2" type="button" data-bs-dismiss="modal" aria-label="Close">{% trans "Bekor qilish" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow mt-5 border-top" style="overflow: scroll; max-height: 700px;">
                {% if text is not None %}
                    <div class="alert alert-success">
                        {{ text }}
                    </div>
                {% endif %}
                <ul class="d-flex justify-content-end list-group-horizontal me-auto my-2 my-lg-0 offset-lg-6" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if 'sort_by' in request.GET %}
                                {% if request.GET.sort_by == "debt-up" %}
                                    {% trans "Eng kami" %}
                                {% elif request.GET.sort_by == "debt-down" %}
                                    {% trans "Eng ko'pi" %}
                                {% else %}
                                    {% trans "Qarz" %}
                                {% endif %}
                            {% else %}
                                {% trans "Qarz" %}
                            {% endif %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" href="?sort_by=debt-up">{% trans "Eng kami" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?sort_by=debt-down">{% trans "Eng ko'pi" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if 'sort_by' in request.GET %}
                                {% if request.GET.sort_by == "plan-done" %}
                                    {% trans "Yakunlangan" %}
                                {% elif request.GET.sort_by == "plan-not-done" %}
                                    {% trans "Yakunlanmagan" %}
                                {% else %}
                                    {% trans "Ishi" %}
                                {% endif %}
                            {% else %}
                                {% trans "Ishi" %}
                            {% endif %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                            <li>
                                <a class="dropdown-item" href="?sort_by=plan-done">{% trans "Yakunlangan" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?sort_by=plan-not-done">{% trans "Yakunlanmagan" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if 'sort_by' in request.GET %}
                                {% if request.GET.sort_by == "sex-male" %}
                                    {% trans "Erkak" %}
                                {% elif request.GET.sort_by == "sex-female" %}
                                    {% trans "Ayol" %}
                                {% else %}
                                    {% trans "Jinsi" %}
                                {% endif %}
                            {% else %}
                                {% trans "Jinsi" %}
                            {% endif %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                            <li>
                                <a class="dropdown-item" href="?sort_by=sex-male">{% trans "Erkak" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?sort_by=sex-female">{% trans "Ayol" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if 'sort_by' in request.GET %}
                                {% if request.GET.sort_by == "last-yesterday" %}
                                    {% trans "Kecha" %}
                                {% elif request.GET.sort_by == "last-this-week" %}
                                    {% trans "Shu hafta" %}
                                {% elif request.GET.sort_by == "last-this-month" %}
                                    {% trans "Shu oyda" %}
                                {% else %}
                                    {% trans "Oxirgi tashrifi" %}
                                {% endif %}
                            {% else %}
                                {% trans "Oxirgi tashrifi" %}
                            {% endif %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown3">
                            <li>
                                <a class="dropdown-item" href="?sort_by=last-yesterday">{% trans "Kecha" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?sort_by=last-this-week">{% trans "Shu hafta" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?sort_by=last-this-month">{% trans "Shu oyda" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">{% trans "Rasm" %}</th>
                            <th scope="col">{% trans "Ism" %}</th>
                            <th scope="col">{% trans "Jins" %}</th>
                            <th scope="col">{% trans "Manzil" %}</th>
                            <th scope="col">{% trans "Qilingan ishlar" %}</th>
                            <th scope="col">{% trans "Qarz" %}</th>
                            <th scope="col">{% trans "Rejada" %}</th>
                            <th scope="col">{% trans "Oxirgi tashrif" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                        {% for result in results %}
                        <tr>
                            <th>
                                <div class="avatar avatar-xs mx-auto">
                                    <div class="border border-1">
                                        <img src="/media/{{ result.patient_extra.image }}">
                                    </div>
                                </div>
                            </th>
                            <td>
                                <a href="{% url 'dentx:patient' id=result.patient_extra.id active_tab="profile" %}" class="text-decoration-none">
                                    <h6>{{ result.patient_extra }}</h6>
                                    <h6>{{ result.patient_extra.birthday.year }}</h6>
                                    <h6>{{ result.patient_extra.phone_number }}</h6>
                                </a>
                            </td>
                            <td>{{ result.gender }}</td>
                            <td>{{ result.patient_extra.address }}</td>
                            <td>{% if result.done %}{{ result.done }}{% else %}-{% endif %}</td>
                            <td>{{ result.total_sum }} {% trans "so'm" %}</td>
                            <td>{% if result.coming %}{{ result.coming }}{% else %}-{% endif %}</td>
                            <td>{% if result.last_visit %}{% last_visit_format result.last_visit %}{% else %}-{% endif %}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="8" class="py-5">{% trans "Bemorlar mavjud emas" %}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $("#id_name, #id_phone_number, #id_birthday, #id_gender_0, #id_gender_1, #id_address, #id_language, #id_diabet, #id_anesthesia, #id_hepatitis, #id_aids, #id_pressure, #id_allergy, #id_asthma, #id_dizziness, #id_fainting, #other_illness, #id_epilepsy, #id_medications, #id_stroke, #id_heart_attack, #id_oncologic, #id_tuberculosis, #id_alcohol, #id_pregnancy, #id_breastfeeding").attr({"disabled": "disabled", "required": false})
    $("#auto-reg").on("change", function() {
        if ($("#auto-reg").is(":checked")) {
            $("#id_key").removeAttr("disabled")
            $("#id_key").attr("required", true)
            $("#id_name, #id_phone_number, #id_birthday, #id_gender_0, #id_gender_1, #id_address, #id_language, #id_diabet, #id_anesthesia, #id_hepatitis, #id_aids, #id_pressure, #id_allergy, #id_asthma, #id_dizziness, #id_fainting, #other_illness, #id_epilepsy, #id_medications, #id_stroke, #id_heart_attack, #id_oncologic, #id_tuberculosis, #id_alcohol, #id_pregnancy, #id_breastfeeding").attr({"disabled": "disabled", "required": false})
        }
    })
    $("#man-reg").on("change", function() {
        if ($("#man-reg").is(":checked")) {
            $("#id_key").attr({"disabled": "disabled", "required": false})
            $("#id_name, #id_phone_number, #id_birthday, #id_gender_0, #id_gender_1, #id_address, #id_language, #id_diabet, #id_anesthesia, #id_hepatitis, #id_aids, #id_pressure, #id_allergy, #id_asthma, #id_dizziness, #id_fainting, #other_illness, #id_epilepsy, #id_medications, #id_stroke, #id_heart_attack, #id_oncologic, #id_tuberculosis, #id_alcohol, #id_pregnancy, #id_breastfeeding").removeAttr("disabled")
            $("#id_name, #id_phone_number, #id_birthday, #id_gender_0, #id_gender_1, #id_address, #id_language, #id_diabet, #id_anesthesia, #id_hepatitis, #id_aids, #id_pressure, #id_allergy, #id_asthma, #id_dizziness, #id_fainting").attr("required", true)
        }
    })
    var date = new Date()
    var current_year = date.getFullYear(), current_month = date.getMonth()
    var months_uz = ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentyabr", "Oktyabr", "Noyabr", "Dekabr"],
        months_ru = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        months_en = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    $("#birth_year_1").on("click", function(){
        if ($("#year_holder").val() == "") {
            $("#year_holder").val(current_year)
        } else if (parseInt($("#year_holder").val()) < current_year) {
            $("#year_holder").val(parseInt($("#year_holder").val()) + 1)
        }
    })
    $("#birth_year_2").on("click", function() {
        if ($("#year_holder").val() == "") {
            $("#year_holder").val(current_year)
        } else if (parseInt($("#year_holder").val()) > 1900) {
            $("#year_holder").val(parseInt($("#year_holder").val()) - 1)
        }
    })
    {% get_current_language as LANGUAGE_CODE %}
    $("#birth_month_1").on("click", function() {
        if ($("#month_holder").val() == "") {
            {% if LANGUAGE_CODE == "uz" %}
                $("#month_holder").val(months_uz[current_month])
            {% elif LANGUAGE_CODE == "ru" %}
                $("#month_holder").val(months_ru[current_month])
            {% elif LANGUAGE_CODE == "en" %}
                $("#month_holder").val(months_en[current_month])
            {% endif %}
        } else {
            {% if LANGUAGE_CODE == "uz" %}
                for (let i = 0; i < months_uz.length; i++) {
                    if ($("#month_holder").val() == months_uz[i] && i < months_uz.length - 1) {
                        $("#month_holder").val(months_uz[i + 1])
                        break
                    }
                }
            {% elif LANGUAGE_CODE == "ru" %}
                for (let i = 0; i < months_ru.length; i++) {
                    if ($("#month_holder").val() == months_ru[i] && i < months_ru.length - 1) {
                        $("#month_holder").val(months_ru[i + 1])
                        break
                    }
                }
            {% elif LANGUAGE_CODE == "en" %}
                for (let i = 0; i < months_en.length; i++) {
                    if ($("#month_holder").val() == months_en[i] && i < months_en.length - 1) {
                        $("#month_holder").val(months_en[i + 1])
                        break
                    }
                }
            {% endif %}
        }
    })
    $("#birth_month_2").on("click", function() {
        if ($("#month_holder").val() == "") {
            {% if LANGUAGE_CODE == "uz" %}
                $("#month_holder").val(months_uz[current_month])
            {% elif LANGUAGE_CODE == "ru" %}
                $("#month_holder").val(months_ru[current_month])
            {% elif LANGUAGE_CODE == "en" %}
                $("#month_holder").val(months_en[current_month])
            {% endif %}
        } else {
            {% if LANGUAGE_CODE == "uz" %}
                for (let i = months_uz.length; i >= 0; i--) {
                    if ($("#month_holder").val() == months_uz[i] && i > 0) {
                        $("#month_holder").val(months_uz[i - 1])
                        break
                    }
                }
            {% elif LANGUAGE_CODE == "ru" %}
                for (let i = months_ru.length; i >= 0; i--) {
                    if ($("#month_holder").val() == months_ru[i] && i > 0) {
                        $("#month_holder").val(months_ru[i - 1])
                        break
                    }
                }
            {% elif LANGUAGE_CODE == "en" %}
                for (let i = months_en.length; i >= 0; i--) {
                    if ($("#month_holder").val() == months_en[i] && i > 0) {
                        $("#month_holder").val(months_en[i - 1])
                        break
                    }
                }
            {% endif %}
        }
    })
    $("#birth_day_1").on("click", function() {
        if ($("#day_holder").val() == "") {
            $("#day_holder").val(1)
        } else if (parseInt($("#day_holder").val()) < 31) {
            $("#day_holder").val(parseInt($("#day_holder").val()) + 1)
        }
    })
    $("#birth_day_2").on("click", function() {
        if ($("#day_holder").val() == "") {
            $("#day_holder").val(1)
        } else if (parseInt($("#day_holder").val()) > 1) {
            $("#day_holder").val(parseInt($("#day_holder").val()) - 1)
        }
    })
    $("#id_allergy").on("change", function () {
        if ($("#id_allergy").val() == 2) {
            $("#id_allergy_detail").attr("required", true).addClass("d-block").removeClass("d-none")
        } else {
            $("#id_allergy_detail").removeAttr("required", true).removeClass("d-block").addClass("d-none")
        }
    })
    $("#other_illness").on("change", function () {
        if ($("#other_illness").is(":checked")) {
            $("#other_illness_holder").addClass("d-block").removeClass("d-none")
        } else {
            $("#other_illness_holder").removeClass("d-block").addClass("d-none")
        }
    })
    $("#id_medications").on("change", function () {
        if ($("#id_medications").val() == 2) {
            $("#id_medications_detail").attr("required", true).addClass("d-block").removeClass("d-none")
        } else {
            $("#id_medications_detail").removeAttr("required", true).removeClass("d-block").addClass("d-none")
        }
    })
    $("#id_pregnancy").on("change", function () {
        if ($("#id_pregnancy").val() == 2) {
            $("#id_pregnancy_detail").attr("required", true).addClass("d-block").removeClass("d-none")
        } else {
            $("#id_pregnancy_detail").removeAttr("required", true).removeClass("d-block").addClass("d-none")
        }
    })
    $("#id_diabet").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_anesthesia").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_hepatitis").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_aids").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_pressure").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_allergy").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_asthma").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_dizziness").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_fainting").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_epilepsy").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_medications").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_stroke").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_heart_attack").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_oncologic").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_tuberculosis").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_alcohol").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_pregnancy").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
    $("#id_breastfeeding").prepend(
        $("<option hidden disabled selected>{% trans "Tanlang" %}</option>")
    )
</script>
{% endblock %}