{% extends 'app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Tizimga kirish" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel">
            <div class="big_title mb-4">{% trans "Tizimga kirish" %}</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        {% if error_message %}
                            <div class="alert alert-danger">
                                {{ error_message }}
                            </div>
                        {% endif %}
                        {% for error in loginform.email.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for error in loginform.password.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_{{ loginform.email.name }}" class="form-label">{{ loginform.email.label }}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="phone-addon" style="border-top-left-radius: 25px !important;border-bottom-left-radius: 25px !important;border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important;">+998</span>
                                    {{ loginform.email }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="id_{{ loginform.password.name }}" class="form-label">{{ loginform.password.label }}</label>
                                {{ loginform.password }}
                            </div>
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            <button type="submit" class="btn my_btn mt-4 mx-auto">{% trans "Jo'natish" %}</button>
                        </form>
                        <a href="{% url 'baseapp:index' %}">
                            <p class="mt-5 mb-3 text-center text-muted">&copy; MyDentist</p>
                        </a>
                        <div class="extra_login text-center">
                            <a href="{% url 'login:password_reset' %}">{% trans "Parolni unutdingizmi?" %}</a>
                            <p>{% trans "Akkauntingiz yo'qmi?" %} <a href="{% url 'login:register' %}">{% trans "Ro'yhatdan o'ting" %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("#id_email").on("focus", function () {
            if ($(this).val() == "") {
                $(this).val("(")
            }
        })
        $("#id_email").on("focusout", function () {
            if ($(this).val() == "(") {
                $(this).val("")
            }
        })
        $("#id_email").on("keyup", function (e) {
            if (e.keyCode == 8) {
                if ($(this).val().length == 12 || $(this).val().length == 9) {
                    let val = $(this).val()
                    $(this).val(val.slice(0, val.length - 1))
                } else if ($(this).val().length == 5) {
                    let val = $(this).val()
                    $(this).val(val.slice(0, val.length - 2))
                }
            }
        })
        $("#id_email").on("input", function () {
            if ($(this).val().length == 3) {
                $(this).val(`${$(this).val()}) `)
            } else if ($(this).val().length == 8 || $(this).val().length == 11) {
                $(this).val(`${$(this).val()}-`)
            } else if ($(this).val().length == 0) {
                $(this).val("(")
            }
        })
    </script>
{% endblock %}