{% extends authenticated|yesno:'app_user.html,app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Bosh sahifa" %}
{% endblock %}

{% block content %}
	<div id="first_screen">
		<div class="search_form">
			<form method="POST">
				{% csrf_token %}
				<div class="title_g">{% trans "Xizmatni qidirish" %}</div>
				<div class="checkers">
					<div class="dropdown select d-md-inline-block d-block mb-md-0 mb-3">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="service" data-bs-toggle="dropdown" aria-expanded="false">
							{{ service.name }}
						</button>
						<ul class="dropdown-menu" aria-labelledby="service">
							{% for el in services %}
							<li class="dropdown-item" value="{{ el.value }}">{{ el.name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="dropdown select d-md-inline-block d-block">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="region" data-bs-toggle="dropdown" aria-expanded="false">
							{{ region.name }}
						</button>
						<ul class="dropdown-menu" aria-labelledby="region">
							{% for el in regions %}
							<li class="dropdown-item" value="{{ el.value }}">{{ el.name }}</li>
							{% endfor %}
						</ul>
					</div>
					{{ searchform.service }}
					{{ searchform.region }}
					{{ geoform.latitude }}
					{{ geoform.longitude }}
				</div>
				<button type="submit" class="btn srch_btn mx-auto">{% trans "Qidirish" %}</button>
			</form>
		</div>
		<div class="presentation">
			<div class="container">
				<div class="row my_row">
					<div class="col-sm-4 col-4">
						<img height="105" src="{% static 'img/clock-solid.svg' %}">
						<span class="present_about">{% trans "Navbatsiz" %}</span>
						<span class="present_text">{% trans "Stomatolog qabuliga onlayn navbat olish va ortiqcha kutishlarsiz qabulga kirish" %}</span>
					</div>
					<div class="col-sm-4 col-4">
						<img height="105" src="{% static 'img/map-marked-alt-solid.svg' %}">
						<span class="present_about">{% trans "Yaqinroq" %}</span>
						<span class="present_text">{% trans "Yaqin masofagagi stomatologlar" %}</span>
					</div>
					<div class="col-sm-4 col-4">
						<img height="105" src="{% static 'img/user-edit-solid.svg' %}">
						<span class="present_about">{% trans "Arzonroq" %}</span>
						<span class="present_text">{% trans "Turli stomatologik klinikalardagi narxlarni solishtirish imkoniyati" %}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="second_screen">
		<div class="container">
			<a class="title_b text-decoration-none mx-auto dentist" href="http://mydentistx.wordpress.com" target="_blank">
				<div class="mx-auto text-center p-3" style="border: 3px solid #289cd7">
					<h3>{% trans "Stomatologmisiz?" %}</h3>
					<h5 style="color: gray;">{% trans "Sizga biz bilan ishlashni taklif etamiz!" %}</h5>
				</div>
			</a>
		</div>
	</div>
	<div class="contact_panel">
		<div class="container">
			<div class="row">
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
					<div class="sub_title_white mt-4 mb-3">
						{% trans "Savol bormi? Ma'lumotlaringizni qoldiring va biz sizga qayta qo'ng'iroq qilamiz" %}
					</div>
					<form action="{% url 'baseapp:send_message' %}" method="POST">
						{% csrf_token %}
						<div class="mb-3">
							<input type="text" placeholder="{% trans "Ism" %}" class="form-control my_input" id="id_name" name="name">
						</div>
						<div class="mb-3">
							<input type="text" placeholder="{% trans "Telefon raqam" %}" class="form-control my_input" id="id_phone" name="phone">
						</div>
						<button type="submit" class="btn my_btn">{% trans "Jo'natish" %}</button>
					</form>
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
					<div class="sub_title_white mt-4 mb-3">
						{% trans "Biz ijtimoiy tarmoqlarda" %}
					</div>
					<div class="social_holder">
						<a href="#"><i class="fab fa-telegram"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-facebook"></i></a>
					</div>
					<div class="sub_title_white_2">
						{% trans "Biz bilan bog'laning" %}
					</div>
					<div class="phone_holder">
						<div class="phone">
							<a class="nav-link" href="tel:+998932757757">+998 93 275 77 57</a>
						</div>
					</div>
				</div>
				<div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
					<div class="sub_title_white mt-4 mb-3">
						{% trans "Stomatologlarni izlash uchun bizning telegram botimiz" %}
					</div>
					<a href="https://t.me/MyDentistUzBot" class="btn my_btn" target="_blank">{% trans "Telegram botga o'tish" %}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
		var options = {
			enableHighAccuracy: true,
			timeout: 10000,
			maximumAge: 0
		}
		function success(pos) {
			var crd = pos.coords;
			$("input[name='latitude']").val(crd.latitude.toFixed(6))
			$("input[name='longitude']").val(crd.longitude.toFixed(6))
		}
		function error(err) {
			console.warn(`ERROR(${err.code}): ${err.message}`);
		}
		navigator.geolocation.getCurrentPosition(success, error, options)
		$("ul[aria-labelledby='service'] li").on("click", function() {
			$("#service").text($(this).text())
			$("input[name='service']").val($(this).attr("value"))
		})
		$("ul[aria-labelledby='region'] li").on("click", function() {
			$("#region").text($(this).text())
			$("input[name='region']").val($(this).attr("value"))
		})
		if ($(window).width() <= 768) {
			$(".presentation img").attr("height", "75")
		} else {
			$(".presentation img").attr("height", "105")
		}
	</script>
{% endblock %}